=
* {
	box-sizing: border-box;
}

body {
	
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #ffffff;
	color: #000;
	display: flex;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.4em;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}


h1 {
	font-family: 'Poppins', sans-serif;
}

p {
	opacity: 0.8;
}

img {
	max-width: 100%;
	background: rgba(166,216,212,.5);
}

.container {
	margin: auto;
	max-width: 100%;
	width: 1200px;
}

.flex {
	display: flex;
	margin: 30px 0;
}

.flex > div:first-child {
	flex: 0.6;
	margin-right: 20px;
}

.flex > div:last-child {
	flex: 0.4;
	margin-left: 20px;
}

input[type="email"]{
	padding: 10px 30px;
	width: 70%;
	border-radius: 20px;
	border-style: solid;
	color: #000;
	font-size: 18px;
}


button {
	background-color: #ffffff;
	margin-top: 30px;
	border-radius: 20px;
	border-style: solid;
	color: #000;
	font-size: 18px;
	padding: 10px 10px;
	font-weight: bold;
    
}

button:hover{
	cursor: pointer;
	background-color: #fbc3bc;
}

.social-links {
	display: flex;
	justify-content: flex-end;
	padding:0px;
	list-style-type: none;
}

.social-links a {
	border-radius: 50%;
	border: 2px solid #000;
	color: #000;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-links a:hover{
    background-color: #fbc3bc;
}

@media screen and (max-width: 768px) {
	.container{
		height: 100vh;
	}
	.flex {
		flex-direction: column;
		margin: 50px 0;
	}

	.flex > div:first-child {
		flex: 1;
		margin-right: 0;
	}

	.flex > div:last-child {
		flex: 1;
		margin-left: 0;
		text-align: center;
	}

	.social-links {
		justify-content: center;
	}
}